.statusForm{
    padding: 1rem;
    border-radius: 3px;
    width: 35%;
    margin-top: 2rem;
    border: 1px rgb(145, 145, 145) solid;
    font-size: 1.1rem;
    margin-right: 1rem;
}
.updateButt{
    background-color: white;
    padding: .5rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: rgb(77, 77, 77);
}
.updateButt:focus{
    border: red;
}
.updateButt:hover{
    color: rgb(24, 24, 24);
}
.updateButt:active{
    color: rgb(100, 100, 100);
}